{% extends "themes/default/templates/partials/base.html" %}

{% set brand = query.brand %}

{% set catalog = entries.fetch('catalog') %}

{% if brand %}
    {% set items = entries.fetchAll(entry.slug, {'where': {'key': 'brand', 'expr': 'contains', 'value': brand}}) %}
{% else %}
    {% set items = entries.fetchAll(entry.slug) %}
{% endif %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
    <b>Brands:</b>
        <a href="{{ base_url() }}/{{ entry.slug }}?brand=Trek">Trek</a>,
        <a href="{{ base_url() }}/{{ entry.slug }}?brand=Giant">Giant</a>,
        <a href="{{ base_url() }}/{{ entry.slug }}">All</a>
    </div>
</div>
<div class="row">
  {% for item in items %}
  <div class="col-md-4">
      <div class="card">
        <div class="catalog-item-preview" style="background-image: url({{ base_url() }}/image/{{ item.slug }}/{{ item.image }}?w={{ catalog.preview_width }}&q={{ catalog.preview_quality }})"></div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p>Price: {{ item.price }}</p>
          <p>Brand: {{ item.brand }}
        </div>
        <div class="card-footer">
          <a href="{{ base_url() }}/{{ item.slug }}" class="btn btn-primary">View Item</a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
